body {
    background: url(images.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.about {
    align-items: center;
    text-align: center;
    color: white;
}

p#para {
    display: inline-block;
    /* border: 2px solid blueviolet;  */
    height: auto;
    width: auto;
    text-align: justify;
    line-height: 2;
    word-spacing: 4px;
    text-align-last: center;
    font-size: 1rem;
    /* padding: 3em; */
    margin-left: 15em;
    margin-right: 15em;
}

/* contact me */
.contact {
    color: white;
    display: flex;
    padding-left: 10rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    font-size: 1rem;
    margin-left: 15em;
}


a.herf {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    /* margin: 1rem;
    padding: 1.2rem; */


    
}

h1{
    text-align: center;
    font-size: 2em;
}
a.herf:hover {
    color: blue;
    text-decoration: underline;
}


@media only screen and (max-width:480px) {
    p#para {
        font-size: 1em;  
        margin: 2em;

    }

    .contact{
        align-items: left;
        padding: 0rem;
    }
}